@import "tailwindcss";

@theme {
    /* Green */
    --color-primary-green: #52b888;
    --color-hue-green: #eefaf5;

    /* Blue */
    --color-primary-blue: #2463eb;
    --color-hue-blue: #eff6ff;

    /* Yellow */
    --color-primary-yellow: #b89952;
    --color-hue-yellow: #faf9ee;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
}
